*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;

}
.app{
  margin:10px 300px;

  height: 140vh;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.6), 0 4px 6px -4px rgb(0 0 0 / 0.5);
 

}
.app-container{
  margin: 0;
  background-color: #808080;

  height: 140vh;
  width: 43%;
color: white;

}
img{
  height: 25%;
margin-left: 60px;
margin-top: 50px;

  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.6), 0 4px 6px -4px rgb(0 0 0 / 0.5);
  
}
.app-container h1{
  padding-top: 40px;
 padding-left: 40px;
 font-weight: lighter;
}
.app-container p{
  padding-left: 40px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 30px;
}
.app-container div{
  border: 1px solid rgba(255, 255, 255,0.5);
  margin-top: 50px;
  margin-left:  20px;
  margin-right: 20px;
}
.app-container h2{
  font-size: 16px;
  margin-top: 10px;
font-weight: lighter;
padding-left:40px ;
}
.app-2-container{
  position: relative;
  bottom: 1054px;
  border: 2px solid salmon;
  height: 140vh;
  margin-left: 43%;
  color: #808080;
}
.app-2-container h1{
  font-size: 40px;
  margin-top: 150px;
}
.app-2-container .details{
  position: relative;
  bottom: 49px;
  left: 300px;
  line-height: 30px;
}
.app-2-container p{
  font-size: 18px;
  font-weight: bold;
}
.app-2-container .div{
  border: 1px solid rgba(128, 128, 128,0.3);
  
}
